.loginContainer {
    min-height: 40vh;
}

.header {
    font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
}

.loginForm , .registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#outlined-email, #outlined-pass {
    color: #FFFFFF;
}

.formContainer {
    margin: 15px 15px 0px 15px
}

#signInLink {
    color: #CE93D8 !important;
  }
  
  .text {
    font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
    color: white;
}

.error {
    font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
    color: #CE93D8;
    margin: 0%;
}

#signInLink {
    color: #CE93D8;
    cursor: pointer;
}
  