.container {
    background-color: #322c3a;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#outlined-basic {
    color: white;
}

#backButton {
    justify-self: flex-end;
}

.chart {
    flex: 1;
}

#root {
    height: 100vh;
}