.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #322c3a;
    border-bottom: 1px solid #CE93D8;
    padding: 16px;
}

.headerContainer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 0%;
}

.headerItem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.headerItem:first-child {
    margin-right: auto;
}

.headerItem:last-child {
    margin-left: auto;
}

#headerTitle {
    color: #CE93D8;
    text-align: center;
}

#name {
    text-align: start;
    color: #CE93D8;
}

#headerButton {
    color: white;
}

.addHeading {
    margin: 0%;
    margin-bottom: 10px;
}

.addContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(206, 147, 216, 0.1);
}

.header {
    font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
    z-index: 1000;
}


/* box-shadow: none;
    text-transform: none;
    color:#FFFFFF;
    font-size: 16;
    margin: 20px;
    padding: 6px 12px;
    border: 1px solid;
    background-color: #1F1B24;
    border-color: #CE93D8; */

.btn {
    font-family: Product-Sans-Regular;
}


