.cardContainer {
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cardContainer:hover > .card:hover {
    opacity: 1.0;
}

.cardContainer:hover > .card {
    opacity: 0.80;
}
  
div.card {
    box-shadow: 2px 2px #000;
    position: relative;
    margin: 15px;
    height: 250px;
    width: 400px;
}

div.card :hover {
    box-shadow: 2px 2px #000;
    position: relative;
    margin: -1px;
    height: 250px;
    width: 400px;
    border: 2px solid #CE93D8;
    cursor: pointer;
}
  
.center {
    height: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

p.text {
    justify-self: center;
    align-self: flex-start;
    margin: 10px 20px 5px;
    font-size: 20px;
    color: #CE93D8;
    pointer-events: none;
}

.value {
    justify-self: center;
    align-self: flex-start;
    margin: 10px 20px 5px;
    font-size: 20px;
    color: #fafafa;
}

.buttonContainer {
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: auto;
}
  