@font-face {
  font-family: 'Product-Sans-Regular';
  src: url(./fonts/Product-Sans-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#Title {
  color: #CE93D8;
  font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
}

#signInLink {
  color: #CE93D8 !important;
}

.text {
  font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
  color: white;
}

.App {
  background-color: #322c3a ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginContainer {
  width: 40vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body, #root { height: 100%; }
