body {
  margin: 0;
  font-family: Product-Sans-Regular, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Product-Sans-Regular';
  src: local('Product-Sans-Regular'), url(./fonts/Product-Sans-Regular.ttf) format('truetype');
}